@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f4f6; /* Hafif gri arka plan */
}



/* Chrome, Safari, Opera */
::-webkit-scrollbar {
  display: none;
}

/* Firefox, IE, Edge */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}